{% extends 'base.html' %}



{% block content %}
<h1>LOG IN</h1>
<form action="" method="POST">
    {% csrf_token %}
        <div class="mb-3">
          <label  class="form-label">username</label>
          <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label  class="form-label">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}