{% extends 'base.html' %}



{% block content %}
<h1 class="text-info">shows all the products</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <th scope="row">{{product.id}}</th>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.quantity}}</td>
            <td>
                <a href="{% url 'update' product.id %}" class="btn btn-warning">edit</a>
                <a href="{% url 'delete' product.id %}" class="btn btn-danger">delete</a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>



{% endblock %}